body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.elephant{
    font-family: Elephant, serif;
    font-weight: bold;
    font-size: 30px;
}
.segeoUI{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
    font-size: 21px;
}
.light{
    font-weight: lighter;
}
.sociaux{
    margin: 0 30px 30px 30px;
}
.navbar-nav{
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:lighter ;
}

.bg-light{
    background-color: white !important;
}
.nav-link{
    text-transform: uppercase;
    border-bottom: 4px dotted #ffe6ee;
    margin: 0 20px;
}
.navbar-light .navbar-nav .nav-link:hover{
    border-bottom: 6px dotted #ff99bb;
}
.active{
    border-bottom: 6px dotted #80002a;
}
.accueil{
    margin-top: 80px;
    font-family: Elephant, serif;
    font-weight: bold;
    font-size: 30px;
}
.text-accueil{
    margin-top: 15px;
    font-size: 20px;
}
.logo-bas{
    width: 180px;
    height: 120px;
}
i{
    font-size: 40px;
    color: black;
}
.list-group-item{
    margin: 0 10px 10px 0;
    border: none;
}

.image1{
    margin-top: 100px;/* margin en haut de l'image*/
}

.imgSublime{
    width: 320px;
    height: 320px;
}

/*****************/
/* PAGE FABRIC section sublimer emotion */
/*****************/
.alignleft {
    float: left;
}
.imageMainTitre{
    width: 150px;
    height: 150px
}
.titre{
    position: relative;
    left: 20px;
    top: 80px;
}
.imageMainEmotion{
    position: relative;
    left: 240px;
    top: -60px;
}
/*****************/
/* PAGE FABRIC section parcour */
/*****************/

.alignRight{
    float: right;
}
.titreParcour{
    position: relative;
    left: 200px;
    top: 120px;
}
.imgHirondelle{
    position: relative;
    left: 140px;
    top: -20px;
}
.imageHirondelle{
    width: 150px;
    height: 150px
}
/*****************/
/* PAGE FABRIC section laFabricWhy */
/*****************/
.titreFabric{
    position: relative;
    top: 150px;
    z-index: 1;
}
.image3Stars{
    position: relative;
    left: 430px;
}
.imgLogo{
    width: 365px;
    height: 365px;
}
.img3Stars{
    width: 150px;
    height: 150px;
}
/*****************/
/* PAGE FABRIC section logo */
/*****************/

.img2Stars{
    position: relative;
    left: 100px;
}
.img1Stars{
    position: relative;
    float: right;
    top: -200px;
    right: 120px;
}
.titreLogo{
    position: relative;
    top: -100px;
}
.imgLogoSignification{
    width: 1100px; height: 900px
}
/*****************/
/* PAGE FABRIC section gestePlanete */
/*****************/
.imgFleur{
    position: relative;
    top: 50px;
    left: 200px;
    z-index: -1;
}
/*****************/
/* PAGE FABRIC section artisanat */
/*****************/
.imgMainMotif{
    position: relative;
    top: 70px;
    left: 290px;
}

@media screen and (max-width: 1200px){
    /*****************/
    /* PAGE FABRIC section logo */
    /*****************/
    .img2Stars{
        position: relative;
        left: 40px;
        width: 116px;
        height: 156px;
    }
    .img1Stars{
        position: relative;
        float: right;
        top: -200px;
        right: 60px;
        width: 80px;
        height: 86px;
    }
    .titreLogo{
        position: relative;
        top: -100px;
    }
    .imgLogoSignification{
        width: 800px; height: 600px
    }
    /*****************/
    /* PAGE FABRIC section gestePlanete */
    /*****************/
    .imgFleur{
        position: relative;
        top: 50px;
        left: 150px;
        z-index: -1;
    }
    /*****************/
    /* PAGE FABRIC section artisanat */
    /*****************/
    .imgMainMotif{
        position: relative;
        top: 70px;
        left: 210px;
    }
}

@media screen and (max-width: 992px){
    /*****************/
    /* PAGE FABRIC section sublimer emotion */
    /*****************/
    .alignleft {
        float: left;
    }
    .imageMainTitre{
        width: 120px;
        height: 120px
    }
    .titre{
        position: relative;
        top: 80px;
    }
    .imageMainEmotion{
        position: relative;
        left: 240px;
        top: -20px;
    }

    /*****************/
    /* PAGE FABRIC section parcour */
    /*****************/

    .alignRight{
        float: right;
    }
    .titreParcour{
        position: relative;
        left: 50px;
        top: 120px;
    }
    .imgHirondelle{
        position: relative;
        left: -20px;
        top: -20px;
    }
    .imageHirondelle{
        width: 150px;
        height: 150px
    }
    /*****************/
    /* PAGE FABRIC section laFabricWhy */
    /*****************/
    .image3Stars{
        display: none;
    }
    .parapheFabric{
        margin-top: 300px;
    }
    /*****************/
    /* PAGE FABRIC section logo */
    /*****************/
    .br{
        display: compact;
    }
    .img2Stars{
        position: relative;
        left: 40px;
        width: 116px;
        height: 156px;
    }
    .img1Stars{
        position: relative;
        float: right;
        top: -200px;
        right: 60px;
        width: 80px;
        height: 86px;
    }
    .titreLogo{
        position: relative;
        top: -100px;
    }
    .imgLogoSignification{
        width: 700px; height: 500px
    }
    /*****************/
    /* PAGE FABRIC section gestePlanete */
    /*****************/
    .imgFleur{
        position: relative;
        top: 50px;
        left: 40px;
        z-index: -1;
    }
    /*****************/
    /* PAGE FABRIC section artisanat */
    /*****************/
    .imgMainMotif{
        position: relative;
        top: 70px;
        left: 100px;
    }
}
@media screen and (max-width: 760px){

}

















.imgCerisier{
    position: absolute;
    margin-top: -100px;
    margin-left: 90px;
    z-index: -1;
}
.span{
    color: red;
    font-size: 9px;
}
.col-md-3 img{
    height: 250px;
    width: 250px;
}
.col-md-4 img{
    height: 350px;
    width: 350px;
}
.imgFeuille{
    position: absolute;
    margin-top: -50px;
    margin-left: 130px;
    z-index: -1;
}
.imgHirondelle2{
    position: absolute;
    width: 200px;
    height: 200px;
    margin-top: -135px;
    margin-left: 250px;
    z-index: -1;
}
.imgOiseau{
    position: absolute;
    margin-top: -100px;
    z-index: -1;
}
.imgMainMotif2{
    position: absolute;
    margin-top: -110px;
    margin-left: 50px;
    z-index: -1;
}
.imgFleur2{
    position: absolute;
    margin-top: -100px;
    margin-left: 170px;
    z-index: -1;
}
.imgMainGauche{
    position: absolute;
    width: 150px;
    margin-top: -140px;
    margin-left: 145px;
    z-index: -1;
}
.imgMainDroite{
    position: absolute;
    width: 150px;
    margin-top: -275px;
    margin-left: 805px;
    z-index: -1;
}
.imgMainMotifGauche{
    position: absolute;
    width: 150px;
    margin-top: -120px;
    margin-left: 200px;
    z-index: -1;
}
.imgEtoileDroite{
    position: absolute;
    width: 150px;
    margin-top: -220px;
    margin-left: 780px;
    z-index: -1;
}
.theme, .technique, .support, .dimmension, .occasion{
    font-weight: bold;
    font-style: italic;
}
.theme{
    color: #f28a3d;
}
.technique{
    color: #e83f58;
}
.support{
    color: #e83f58;
}
.dimmension{
    color: #922159;
}
.occasion{
    color: #2c2851;
}
.logoContact{
    width: 300px;
    height: 270px;
}
.titreContact{
    color: #e83f58;
    font-family: Elephant, serif;
    font-weight: bold;
}
.listContact > li > span{
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
}
.formEmailNomPrenom::placeholder{
    color: #f28a3d;
}
.formEmailNomPrenom{
    border: 3px dotted #f28a3d;
}
.formSujetPhone::placeholder{
    color: #e83f58;
}
.formSujetPhone{
    border: 3px dotted #e83f58;
}
.formFabric::placeholder{
    color: #922159;
}
.formFabric{
    border: 3px dotted #922159;
}
.formMessage::placeholder{
    color: #2c2851;
}
.formMessage{
    border: 3px dotted #2c2851;
}
.btn-fabric{
    font-family: Elephant, serif;
    font-weight: bold;
    font-size: 20px;
    background-color: #e83f58 ;
    color: white;
    float: right;
}

/****************/
/*              */
/* nav Creation */
/*              */
/****************/

.fixed-top{
    margin-top: 100px;
}
.btn{
    background-color: #e83f58;
    color: white;
    border-radius: 10px;
    margin: 10px;
}
.btn:hover{
    background-color: #922159;
    color: white;
}

